:root {
  --color-primary: hsl(206, 100%, 40%);
  --color-primary-dark: hsl(206, 100%, 25%);
  --color-primary-light: hsl(206, 100%, 50%);

  --color-secondary: hsl(50, 98%, 50%);
  --color-secondary-dark: hsl(50, 98%, 70%);
  --color-secondary-light: hsl(50, 98%, 40%);

  --color-black: hsl(0, 0%, 9%);
  --color-white: hsl(0, 0%, 97%);

  --color-gray: hsl(0, 0%, 20%);

  --font-display: "Ubuntu", sans-serif;
}
