.quality {
  text-align: center;
  margin: 4rem 0;
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;

    @include responsive(tab-land) {
      grid-template-columns: 1fr;
      grid-gap: 5rem;
      width: 90%;
      max-width: 40rem;
    }
  }

  &__box-svg {
    margin-bottom: 3.5rem;
  }
}
